footer
	.footer-content
		.footer-directory
			.footer-directory-column
				h3.footer-directory-column-title Aviation
				
				ul.footer-directory-column-list
					li
						a(href="booking-search.jsp") Flüge
					li
						a(href="#") Link
					li
						a(href="#") Link
					li
						a(href="#") Link
					li
						a(href="#") Link
					li
						a(href="sc-index.jsp") Support
					li
						a(href="dashboard.jsp") Benutzerkontrollzentrum
					li
						a(href="imprint.html") Impressum
					li
						a(href="privacy.html") Datenschutzerklärung
			
			.footer-directory-column
			.footer-directory-column
			
			.footer-directory-column
				h3.footer-directory-column-title Team FESTIVAL
				
				ul.footer-directory-column-list
					li
						a(href="#") Über uns
			
			.footer-directory-column
				h3.footer-directory-column-title Social
				
				ul.footer-directory-column-list
					li
						a(href="https://twitter.com/festivaldev",target="_blank") Twitter
					li
						a(href="https://github.com/festivaldev",target="_blank") GitHub
		
		section.footer
			p.legal Copyright &copy; 2018 Team FESTIVAL. Alle Rechte vorbehalten.
			p.custom-footer Made with #[span.weird-text] by Team FESTIVAL.
			
			script(src="js/custom-footer.js")