section.modal
    .modal-inner
        .content
            .title-bar(id="modal-title-bar")
                each t in ["error", "info", "question", "success", "warning"]
                    span.icon(class=t)
                        span(class="ai ai-" + t)
                p(class="title", id="modal-title")
            p(id="modal-text")
        .buttons
            button(id="modal-primary")
            button(id="modal-close") Schließen