| <!--
| 	about.html
| 	FESTIVAL Aviation
| 	
| 	Just a page where we tell a little about us
| 	
| 	@author Jonas Zadach (j.zadach@ostfalia.de)
| 	@version 1.0
| -->
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Über uns – FESTIVAL Aviation Support
		
		link(rel="stylesheet", href="css/aviation.css")
		
	body
		include _nav
		
		section.promo-text
				.section-content
					h2.headline.align-center Über uns
		
		section.promo-text
			.section-content.row
				.column.column-12.medium-6
					h4.eyebrow Fabian K.
					p.body Fabian ist Mitbegründer und Leiter von FESTIVAL. Er programmiert, seit er denken kann und hat bereits einiges zur Popularität von FESTIVAL beigetragen. Ob Netzwerk-basierte Chats oder das Wiederauferstehenlassen eines totgeglaubten Spiels – Fabian ist nichts zu Schwer. Neben herausragenden HTML- und CSS-Kenntnissen sind es vor allem die C#-Projekte, die es ihm angetan haben.
					p.body Auch Fabian vertritt die Philosophie von FESTIVAL, das alle Projekte quelloffen und kostenlos zur Verfügung gestellt werden sollten. Bei GitHub ist er <a href="https://github.com/vainamov">hier</a> zu finden.
					
		section.promo-text
			.section-content.row
				.column.column-12.medium-6
					h4.eyebrow Janik S.
					p.body Janik ist Mitbegründer und der kreative Kopf von FESTIVAL. Seit er angefangen hat, zu programmieren, strebt er nach Perfektion. Irgendwann kamen dann auch Erfahrungen im Bereich Design hinzu, gerade was User Interfaces und User Experience betrifft. Jedes neue Projekt, das er anfängt, sieht am Ende richtig gut aus. Seine Erfahrungen beschränken sich nicht nur auf HTML, CSS und JavaScript, auch PHP, Objective-C und Swift sind Teil seiner täglichen Arbeit für FESTIVAL.
					p.body Für Janik ist es unumgänglich, seine Projekte quelloffen bereitzustellen. Sein GitHub-Profil ist <a href="https://github.com/SniperGER">hier</a> zu finden. Auch bei Twitter ist er sehr aktiv. Um ihn herum hat sich eine Community gebildet, die jedes seiner Projekte feiern wie kein anderer.
					
		section.promo-text
			.section-content.row
				.column.column-12.medium-6
					h4.eyebrow  Jonas Z.
					p.body Jonas ist Mitbegründer von FESTIVAL und gerade durch seine Erfahrungen als Pilot in beratender Funktion für FESTIVAL Aviation unumgänglich. Sein Traum war es schon immer, die größten Jets dieser Welt zu fliegen. Von Jonas kommt auch die ursprüngliche Idee zu Aviation. Abseits des Cockpits verbringt Jonas sehr viel Zeit mit professionellen Flug-Simulatoren, um weiter an seinen Pilotenfähigkeiten zu feilen.
					p.body Jonas hat bereits viele Erfahrungen mit dem Programmieren gesammelt, aber anders als Fabian und Janik ist er weniger <a href="https://github.com/jonaszadach">auf GitHub</a> aktiv. Nichtsdestotrotz vertritt auch er die Meinung, Projekte quelloffen und kostenlos zur Verfügung zu stellen.
					
		include _footer