| <!--
| 	booking-billing.jsp
| 	FESTIVAL Aviation
| 	
| 	This page deals with creating and updating billing
| 	addresses while booking a flight
| 	
| 	@author Janik Schmidt (jani.schmidt@ostfalia.de)
| 	@version 1.0
| -->
| 
| <%@ page contentType="text/html;charset=UTF-8" language="java" %>
| <%@ page import="ml.festival.aviation.SearchResultsDemo" %>
| <%@ page import="ml.festival.aviation.AuthManager" %>
| <%@ page import="org.json.*" %>
| <%@ page import="java.time.*" %>
| <%@ page import="java.time.format.DateTimeFormatter"%>
| <%@ page import="java.sql.*" %>
| <%@ page import="java.util.Map" %>
| 
| <%
| 	AuthManager authManager = new AuthManager();
| 	JSONObject requestData = new JSONObject();
| 
| 	try {
| 		// Map every request parameter into a JSON object
| 		Map<String, String[]> parameters = request.getParameterMap();
| 		for(String parameter : parameters.keySet()) {
| 			requestData.put(parameter, request.getParameter(parameter));
| 		}
| 	} catch (Exception e) {
| 		e.printStackTrace();
| 	}
| 
| 	// Fill the billing address if we're already logged in
|	ResultSet billingAddress = null;
| 	if (authManager.validate(String.valueOf(session.getAttribute("sid")))) {
| 		billingAddress = authManager.getBillingAddress(String.valueOf(session.getAttribute("sid")));
| 	}
| %>
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Rechnungsadresse – FESTIVAL Aviation
		
		link(rel="stylesheet",href="css/aviation.css")
		link(rel="stylesheet",href="css/booking.built.css")
		link(rel="stylesheet", href="css/modal.built.css")
	body
		include _nav

		include _sc-modal
		
		section.search-results
			.section-content.row
				.progress-overview.column.medium-3
					p.progress-title Flug buchen
					p.progress-section-title Vorbereitung
					ul
						li(data-progress-made="true")
							| 
							| 
							span Reiseziel wählen
							.pipe
						li(data-progress-made="true")
							| 
							| 
							span Flug wählen
							.pipe
						li(data-progress-made="true")
							| 
							| 
							span Dienste wählen
							.pipe
					p.progress-section-title Bezahlung
					ul
						li.current(data-progress-made="true")
							| 
							| 
							span Rechnungsadresse
							.pipe
						li(data-progress-made="false")
							| 
							| 
							span Buchung abschließen
							.pipe
				.search-results-container.column.column-12.medium-8
					.scroll-container.billing-address
						.result-header
							h4.date
								span Rechnungsadresse
							p Um die Buchung abzuschließen, benötigen wir eine gültige Rechnungsadresse. Solltest du gerade angemeldet sein, wird das Formular für dich automatisch ausgefüllt. Wenn nicht, kannst du hier deine Rechnungsadresse eintragen. Bitte stelle sicher, dass alle Daten korrekt eingetragen sind, da es sonst später zu Problemen bei der Rückerstattung kommen kann.

						form(name="billingAddress")
							.row.no-justify
								.column.column-3
									label(for="title") Anrede
								.column.column-6
									select(name="title", id="title", required)
										option(value="")
										
										| 
										| <%
										| 	// A dirty workaround to select an existing <select> value by default
										| 	if (billingAddress != null) {
										| 		if (billingAddress.getString("prefix").equals("male")) {
										| %>
										option(value="male", selected) Herr
										option(value="female") Frau
										| 
										| <%
										|	 	} else if (billingAddress.getString("prefix").equals("female")) {
										| %>
										option(value="male") Herr
										option(value="female", selected) Frau
										| 
										| <%
										| 		}
										| 	} else {
										| %>
										option(value="male") Herr
										option(value="female") Frau
										| 
										| <%
										| 	}
										| %>
							.row.no-justify
								.column.column-3
									label(for="firstName") Vorname
								.column.column-6
									input(type="text", name="firstName", id="firstName", value!="<%= billingAddress != null ? billingAddress.getString(\"firstName\") : \"\" %>", required)
							.row.no-justify
								.column.column-3
									label(for="lastName") Nachname
								.column.column-6
									input(type="text",name="lastName",id="lastName", value!="<%= billingAddress != null ? billingAddress.getString(\"lastName\") : \"\" %>", required)
							
							.row.no-justify
								.column.column-3
									label(for="lastName") Straße
								.column.column-6
									input(type="text", name="street", id="street", value!="<%= billingAddress != null ? billingAddress.getString(\"street\") : \"\" %>", required)
							.row.no-justify
								.column.column-3
									label(for="lastName") PLZ/Ort
								.column.column-2
									input(type="text", name="zip", id="zip", value!="<%= billingAddress != null ? billingAddress.getString(\"postalCode\") : \"\" %>", required)
								.column.column-4
									input(type="text", name="city", id="city", value!="<%= billingAddress != null ? billingAddress.getString(\"postalCity\") : \"\" %>", required)
							.row.no-justify
								.column.column-3
									label(for="country") Land
								.column.column-6
									select(name="country", id="country", required)
										| 
										| <%
										| 	// A dirty workaround to select an existing <select> value by default
										| 	if (billingAddress != null) {
										| 		if (billingAddress.getString("country").equals("de")) {
										| %>
										option(value="de", selected) Deutschland
										option(value="at") Österreich
										option(value="ch") Schweiz
										| 
										| <%
										|	 	} else if (billingAddress.getString("country").equals("at")) {
										| %>
										option(value="de") Deutschland
										option(value="at", selected) Österreich
										option(value="ch") Schweiz
										| <%
										|	 	} else if (billingAddress.getString("country").equals("ch")) {
										| %>
										option(value="de") Deutschland
										option(value="at") Österreich
										option(value="ch", selected) Schweiz
										| 
										| <%
										| 		}
										| 	} else {
										| %>
										option(value="de") Deutschland
										option(value="at") Österreich
										option(value="ch") Schweiz
										| 
										| <%
										| 	}
										| %>
							.row.no-justify
								.column.column-3
									label(for="email") E-Mail
								.column.column-6
									input(type="email", name="email", id="email", value!="<%= billingAddress != null ? billingAddress.getString(\"email\") : \"\" %>", required)
							.row.no-justify
								.column.column-3
									label(for="phone") Telefon
								.column.column-6
									input(type="phone", name="phone", id="phone", value!="<%= billingAddress != null ? billingAddress.getString(\"phoneNumber\") : \"\" %>", required)
					.fill-background
					.results-footer
						button.outline.blue(onclick="window.history.back()") Zurück
						button.fill.blue.continue-button Buchung abschließen
		form.hidden(action="booking-complete.jsp", method="POST", name="selectedItem")
			| <%
			| 	// Create input fields for every request parameter
			| 	Map<String, String[]> parameters = request.getParameterMap();
			| 	for(String parameter : parameters.keySet()) {
			| %>
			input(name!="<%= parameter %>", value!="<%= request.getParameter(parameter) %>")
			| 
			| <%
			| 	}
			| %>
			input(name="billingId")
			
		script(src="js/icons.js")
		script(src="js/modal.js")
		script(type="text/javascript",src="js/flight-search.js")
| 
| <%
| 	// Close the database connection just like always
| 	authManager.closeConnection();
| %>