| <!--
| 	booking-search.jsp
| 	FESTIVAL Aviation
| 	
| 	This page is the standalone variant of the search
| 	bar found in index.jsp
| 	
| 	@author Jonas Zadach (j.zadach@ostfalia.de)
| 	@version 1.0
| -->
| 
| <%@ page contentType="text/html;charset=UTF-8" language="java" %>
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Flugsuche – FESTIVAL Aviation
		
		link(rel="stylesheet",href="css/aviation.css")
		link(rel="stylesheet",href="css/booking.built.css")
		link(rel="stylesheet", href="css/components/calendar.css")
	body
		include _nav
		
		section.search-results
			.section-content.row
				aside.progress-overview.column.medium-3
					p.progress-title Flug buchen
					p.progress-section-title Vorbereitung
					ul
						li.current(data-progress-made="true")
							| 
							| 
							span Reiseziel wählen
							.pipe
						li(data-progress-made="false")
							| 
							| 
							span Flug wählen
							.pipe
						li(data-progress-made="false")
							| 
							| 
							span Dienste wählen
							.pipe
					p.progress-section-title Bezahlung
					ul
						li(data-progress-made="false")
							| 
							| 
							span Rechnungsadresse
							.pipe
						li(data-progress-made="false")
							| 
							| 
							span Buchung abschließen
							.pipe
				.search-results-container.column.column-12.medium-8
					.search-results-header
						form(method="post", action="booking-results.jsp")
							.row
								.column.column-12.medium-6(data-key="departure")
									.column-title
										img(src="img/icon-departure.svg")
										p Von
									input.column-content(placeholder="Abreiseort eingeben", required)
									input.hidden(type="text", id="depart_iata", name="depart_iata", required)
									.suggestions
										.suggestions-header
											.header-eyebrow Startflughafen
											.header-title Ergebnisse
										ul.suggestions-list
								.column.column-12.medium-6(data-key="arrival")
									.column-title
										img(src="img/icon-arrival.svg")
										p Nach
									input.column-content(placeholder="Ankunftsort eingeben", required)
									input.hidden(type="text", id="arrv_iata", name="arrv_iata", required)
									.suggestions
										.suggestions-header
											.header-eyebrow Zielflughafen
											.header-title Ergebnisse
										ul.suggestions-list
							.row
								.column.column-12.medium-6(data-key="date")
									.column-title
										img(src="img/icon-date.svg")
										p Abflugdatum
									input.column-content(type="text", placeholder="Abflugdatum auswählen", required)
									input.hidden(type="text", id="depart_date", name="depart_date", required)
									div.calendar
								.column.column-12.medium-2
									.column-title
										img(src="img/icon-passenger.svg")
										p Passagiere
									input.column-content(type="number", name="passengers", value="1", min="1", max="10", oninput="passengerCountChanged(this)")
								.column.column-12.medium-4
									.column-title
										img(src="img/icon-class.svg")
										p Klasse
									p.column-content
										select(name="flight_class", onchange="classChanged(this)")
											option(value="economy") Economy
											option(value="premium_economy") Premium Economy
											option(value="business") Business
											option(value="first") First Class
					.fill-background
						p.placeholder-text Klicke auf "Suchen", um mit der Suche zu beginnen.
					.results-footer
						button.outline.red(onclick="if (confirm(\"Möchtest du wirklich abbrechen?\")) history.back()") Abbrechen
						button.fill.blue.continue-button(onclick="document.forms[0].submit()") Suchen
		script(type="text/javascript", src="lib/calendar.js")
		script(type="text/javascript", src="js/flight-search.js")