| <%@ page contentType="text/html;charset=UTF-8" language="java" %>
| <%@ page import="ml.festival.aviation.SearchResultsDemo" %>
| <%@ page import="ml.festival.aviation.AuthManager" %>
| <%@ page import="org.json.*" %>
| <%@ page import="java.time.*" %>
| <%@ page import="java.time.format.DateTimeFormatter"%>
| <%@ page import="java.sql.*" %>
| <%@ page import="java.util.Map" %>
| 
| <%
| 	AuthManager authManager = new AuthManager();
| 	JSONObject requestData = new JSONObject();
| 	JSONObject demoData = new JSONObject();
| 
| 	try {
| 		Map<String, String[]> parameters = request.getParameterMap();
| 		for(String parameter : parameters.keySet()) {
| 			requestData.put(parameter, request.getParameter(parameter));
| 		}
| 
| 		demoData = SearchResultsDemo.getJSONData(requestData);
| 	} catch (Exception e) {
| 		e.printStackTrace();
| 	}
| 
|	ResultSet billingAddress = null;
| 	if (authManager.validate(String.valueOf(session.getAttribute("sid")))) {
| 		billingAddress = authManager.getBillingAddress(String.valueOf(session.getAttribute("sid")));
| 	}
| %>
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Übersicht – FESTIVAL Aviation
		
		link(rel="stylesheet",href="css/aviation.css")
		link(rel="stylesheet",href="css/booking.built.css")
	body
		include _nav
		
		section.search-results
			.section-content.row
				.progress-overview.column.medium-3
					p.progress-title Flug buchen
					p.progress-section-title Vorbereitung
					ul
						li(data-progress-made="true")
							| 
							| 
							span Reiseziel wählen
							.pipe
						li(data-progress-made="true")
							| 
							| 
							span Flug wählen
							.pipe
						li(data-progress-made="true")
							| 
							| 
							span Dienste wählen
							.pipe
					p.progress-section-title Bezahlung
					ul
						li.current(data-progress-made="true")
							| 
							| 
							span Rechnungsadresse
							.pipe
						li(data-progress-made="false")
							| 
							| 
							span Buchung abschließen
							.pipe
				.search-results-container.column.column-12.medium-8
					.scroll-container.billing-address
						.result-header
							h4.date
								span Rechnungsadresse
							p Um die Buchung abzuschließen, benötigen wir eine gültige Rechnungsadresse. Solltest du gerade angemeldet sein, wird das Formular für dich automatisch ausgefüllt. Wenn nicht, kannst du hier deine Rechnungsadresse eintragen. Bitte stelle sicher, dass alle Daten korrekt eingetragen sind, da es sonst später zu Problemen bei der Rückerstattung kommen kann.

						.row.no-justify
							.column.column-3
								label(for="title") Anrede
							.column.column-6
								select(name="title", id="title")
									option(value="none")
									
									| 
									| <%
									| 	if (billingAddress != null) {
									| 		if (billingAddress.getString("prefix").equals("male")) {
									| %>
									option(value="male", selected) Herr
									option(value="female") Frau
									| 
									| <%
									|	 	} else if (billingAddress.getString("prefix").equals("female")) {
									| %>
									option(value="male") Herr
									option(value="female", selected) Frau
									| 
									| <%
									| 		}
									| 	} else {
									| %>
									option(value="male") Herr
									option(value="female") Frau
									| 
									| <%
									| 	}
									| %>
						.row.no-justify
							.column.column-3
								label(for="firstName") Vorname
							.column.column-6
								input(type="text", name="firstName", id="firstName", value!="<%= billingAddress != null ? billingAddress.getString(\"firstName\") : \"\" %>")
						.row.no-justify
							.column.column-3
								label(for="lastName") Nachname
							.column.column-6
								input(type="text",name="lastName",id="lastName", value!="<%= billingAddress != null ? billingAddress.getString(\"lastName\") : \"\" %>")
						
						.row.no-justify
							.column.column-3
								label(for="lastName") Straße
							.column.column-6
								input(type="text", name="street", id="street", value!="<%= billingAddress != null ? billingAddress.getString(\"street\") : \"\" %>")
						.row.no-justify
							.column.column-3
								label(for="lastName") PLZ/Ort
							.column.column-2
								input(type="text", name="zip", id="zip", value!="<%= billingAddress != null ? billingAddress.getString(\"postalCode\") : \"\" %>")
							.column.column-4
								input(type="text", name="city", id="city", value!="<%= billingAddress != null ? billingAddress.getString(\"postalCity\") : \"\" %>")
						.row.no-justify
							.column.column-3
								label(for="country") Land
							.column.column-6
								select(name="country",id="country")
									| 
									| <%
									| 	if (billingAddress != null) {
									| 		if (billingAddress.getString("country").equals("de")) {
									| %>
									option(value="de", selected) Deutschland
									option(value="at") Österreich
									option(value="ch") Schweiz
									| 
									| <%
									|	 	} else if (billingAddress.getString("country").equals("at")) {
									| %>
									option(value="de") Deutschland
									option(value="at", selected) Österreich
									option(value="ch") Schweiz
									| <%
									|	 	} else if (billingAddress.getString("country").equals("ch")) {
									| %>
									option(value="de") Deutschland
									option(value="at") Österreich
									option(value="ch", selected) Schweiz
									| 
									| <%
									| 		}
									| 	} else {
									| %>
									option(value="de") Deutschland
									option(value="at") Österreich
									option(value="ch") Schweiz
									| 
									| <%
									| 	}
									| %>
						.row.no-justify
							.column.column-3
								label(for="email") E-Mail
							.column.column-6
								input(type="email", name="email", id="email", value!="<%= billingAddress != null ? billingAddress.getString(\"email\") : \"\" %>")
						.row.no-justify
							.column.column-3
								label(for="phone") Telefon
							.column.column-6
								input(type="phone", name="phone", id="phone", value!="<%= billingAddress != null ? billingAddress.getString(\"phoneNumber\") : \"\" %>")
					.fill-background
					.results-footer
						button.outline.blue(onclick="window.history.back()") Zurück
						button.fill.blue.continue-button(onclick="document.forms[0].submit()") Buchung abschließen
		form.hidden(action="booking-complete.jsp", method="POST", name="selectedItem")
			| <%
			| 	Map<String, String[]> parameters = request.getParameterMap();
			| 	for(String parameter : parameters.keySet()) {
			| %>
			input(name!="<%= parameter %>", value!="<%= request.getParameter(parameter) %>")
			| 
			| <%
			| 	}
			| %>
| 
| <% authManager.closeConnection(); %>