| <%@ page contentType="text/html;charset=UTF-8" language="java" %>
| <%@ page import="ml.festival.aviation.AuthManager" %>
| <%!
| 	private String defaultPage = "profile";
| 	public Boolean isCurrentPage(String requestedPage, String pageName) {
| 		if (requestedPage != null) {
| 			return pageName.equals(requestedPage);
| 		} else {
| 			return pageName.equals(defaultPage);
| 		}
| 	}
| %>
| <%
| 	Boolean validAuth = false;
| 	AuthManager authManager = new AuthManager();
| 
| 	Cookie[] cookies = request.getCookies();
| 	for (int i=0; i<cookies.length; i++) {
| 		if (cookies[i].getName().equals("sid")) {
| 			if (authManager.validate(cookies[i].getValue())) {
| 				validAuth = true;
| 				break;
| 			}
| 		}
| 	}
| 
| 	if (!validAuth) {
| 		response.sendRedirect("login.jsp");
| 	}
| %>
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Benutzer – FESTIVAL Aviation
		
		link(rel="stylesheet",href="css/aviation.css")
		link(rel="stylesheet",href="css/user-cp.built.css")
	body
		include _nav
		
		.content-wrapper
			section.user-cp
				.section-content.row
					.column.column-3
						ul.user-cp-menu
							li.menu-item.heading Allgemein
							| 
							| 
							a(href="?p=profile",class!="menu-item <%= isCurrentPage(request.getParameter(\"p\"), \"profile\") ? \"selected\" : \"\" %>")
								li Profil
							| 
							| 
							a(href="?p=billing",class!="menu-item <%= isCurrentPage(request.getParameter(\"p\"), \"billing\") ? \"selected\" : \"\" %>")
								li Rechnungsadresse
							| 
							| 
							a(href="?p=complaints",class!="menu-item <%= isCurrentPage(request.getParameter(\"p\"), \"complaints\") ? \"selected\" : \"\" %>")
								li Beschwerden
						ul.user-cp-menu
							li.heading Buchungen
							li Vorherige Buchungen
							li Tickets
					.column.column-8.offset-1
						| 
						| <% if (isCurrentPage(request.getParameter("p"), "profile")) { %>
						p Profil
						| 
						| <% } %>
						| 
						| <% if (isCurrentPage(request.getParameter("p"), "billing")) { %>
						p Rechnungsadresse
						| 
						| <% } %>
						| 
						| <% if (isCurrentPage(request.getParameter("p"), "complaints")) { %>
						p Beschwerden
						| 
						| <% } %>
						