| <%@ page contentType="text/html;charset=UTF-8" language="java" %>
| <%@ page import="ml.festival.aviation.AuthManager" %>
| <%!
| 	public Boolean isCurrentPage(String requestedPage, String pageName) {
| 		if (requestedPage != null) {
| 			return pageName.equals(requestedPage);
| 		}
| 		return false;
| 	}
| %>
| <%
| 	Boolean validAuth = false;
| 	AuthManager authManager = new AuthManager();
| 
| 	if (authManager.validate(String.valueOf(session.getAttribute("sid")))) {
|		validAuth = true;
|	}
| 
| 	if (!validAuth) {
| 		response.sendRedirect("login.jsp");
| 	} else if (request.getParameter("p") == null || request.getParameter("p").isEmpty()) {
| 		response.sendRedirect("dashboard.jsp?p=profile");
| 	}
| 
| 	authManager.closeConnection();
| %>
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Dashboard – FESTIVAL Aviation
		
		link(rel="stylesheet",href="css/aviation.css")
		link(rel="stylesheet",href="css/dashboard.built.css")
		link(rel="stylesheet",href="css/components/tables.css")
	body
		include _nav
		
		.content-wrapper
			section.dashboard
				.section-content.row
					.column.column-3
						ul.user-cp-menu
							li.menu-item.heading Allgemein
							| 
							| 
							a(href="?p=profile", class!="menu-item <%= isCurrentPage(request.getParameter(\"p\"), \"profile\") ? \"selected\" : \"\" %>")
								li Profil
							| 
							| 
							a(href="?p=billing", class!="menu-item <%= isCurrentPage(request.getParameter(\"p\"), \"billing\") ? \"selected\" : \"\" %>")
								li Rechnungsadresse
							| 
							| 
							a(href="?p=complaints", class!="menu-item <%= isCurrentPage(request.getParameter(\"p\"), \"complaints\") ? \"selected\" : \"\" %>")
								li Beschwerden
						ul.user-cp-menu
							li.menu-item.heading Buchungen
							| 
							| 
							a(href="?p=openBookings", class!="menu-item <%= isCurrentPage(request.getParameter(\"p\"), \"openBookings\") ? \"selected\" : \"\" %>")
								li Offene Buchungen
							| 
							| 
							a(href="?p=completedBookings", class!="menu-item <%= isCurrentPage(request.getParameter(\"p\"), \"completedBookings\") ? \"selected\" : \"\" %>")
								li Abgeschlossene Buchungen
						ul.user-cp-menu
							a.menu-item(href="?p=logout")
								li Abmelden
					| 
					| <% if (isCurrentPage(request.getParameter("p"), "profile")) { %>
					.column.column-8.offset-1
						h2 Profil
						p Hier kannst du die Details deines Profils anpassen.
						form(action="#")
							label(for="firstName") Vorname
							input(type="text",name="firstName",id="firstName")
							label(for="lastName") Nachname
							input(type="text",name="lastName",id="lastName")
							label(for="email") E-Mail-Adresse
							input(type="email",name="email",id="email")
							button.fill.blue Profil speichern
							
						h3 Passwort ändern
						form(action="#")
							label(for="oldPassword") Altes Passwort
							input(type="password",name="oldPassword",id="oldPassword")
							label(for="oldPassword") Neues Passwort
							input(type="password",name="newPassword",id="newPassword")
							label(for="oldPassword") Neues Passwort bestätigen
							input(type="password",name="newPasswordConfirm",id="newPasswordConfirm")
							button.fill.blue Passwort ändern 
					| 
					| <% } %>
					
					| 
					| <% if (isCurrentPage(request.getParameter("p"), "billing")) { %>
					.column.column-8.offset-1
						h2 Rechnungsadresse
						p Zum Buchen von Flügen benötigst du eine gültige Rechnungsadresse. Diese kannst du hier jederzeit ändern.
						
						form(action="#")
							.row.no-justify
								.column.column-3
									label(for="title") Anrede
								.column.column-6
									select(name="title",id="title")
										option(value="",selected)
										option(value="male") Herr
										option(value="female") Frau
							.row.no-justify
								.column.column-3
									label(for="firstName") Vorname
								.column.column-6
									input(type="text",name="firstName",id="firstName")
							.row.no-justify
								.column.column-3
									label(for="lastName") Nachname
								.column.column-6
									input(type="text",name="lastName",id="lastName")
							
							.row.no-justify
								.column.column-3
									label(for="lastName") Straße
								.column.column-6
									input(type="text",name="street",id="street")
							.row.no-justify
								.column.column-3
									label(for="lastName") PLZ/Ort
								.column.column-2
									input(type="text",name="zip",id="zip")
								.column.column-4
									input(type="text",name="city",id="city")
							.row.no-justify
								.column.column-3
									label(for="country") Land
								.column.column-6
									select(name="country",id="country")
										option(value="de") Deutschland
										option(value="at") Österreich
										option(value="ch") Schweiz
							.row.no-justify
								.column.column-3
									label(for="email") E-Mail
								.column.column-6
									input(type="email",name="email",id="email")
							.row.no-justify
								.column.column-3
									label(for="phone") Telefon
								.column.column-6
									input(type="phone",name="phone",id="phone")
					| 
					| <% } %>
					
					| 
					| <% if (isCurrentPage(request.getParameter("p"), "complaints")) { %>
					.column.column-8.offset-1
						h2 Beschwerden
						p Hier siehst du eine Liste all deiner Beschwerden und ob diese bereits gelöst wurden.
						
						table
							thead
								tr
									th Beschwerde-ID
									th Art
									th Eingereicht
							tbody
								tr
									td #0123456789abcdef
									td Werbung + Marceting
									td 01.01.1970 01:00
					| 
					| <% } %>
					
					| 
					| <% if (isCurrentPage(request.getParameter("p"), "openBookings")) { %>
					.column.column-8.offset-1
						h2 Offene Buchungen
						p Hier siehst du eine Liste all deiner noch offenen Buchungen, die bezahlt werden müssen. Sonst darfst du nicht fliegen, yo!
						
						table
							thead
								tr
									th Beschwerde-ID
									th Art
									th Eingereicht
							tbody
								tr
									td #0123456789abcdef
									td Werbung + Marceting
									td 01.01.1970 01:00
					| 
					| <% } %>
					
					| 
					| <% if (isCurrentPage(request.getParameter("p"), "completedBookings")) { %>
					.column.column-8.offset-1
						h2 Abgeschlossene Buchungen
						p Hier siehst du eine Liste all deiner abgeschlossenen Buchungen, die die bereits bezahlt wurden.
						
						table
							thead
								tr
									th Beschwerde-ID
									th Art
									th Eingereicht
							tbody
								tr
									td #0123456789abcdef
									td Werbung + Marceting
									td 01.01.1970 01:00
					| 
					| <% } %>
					
					| 
					| <% if (isCurrentPage(request.getParameter("p"), "logout")) { %>
					.column.column-8.offset-1
						h2 Abmeldung erfolgt...
						p Du wirst in kürze abgemeldet und zur Startseite umgeleitet
						
						| 
						| <%
						| 	authManager.openConnection();
						| 	if (authManager.destroySession(String.valueOf(session.getAttribute("sid"))) == AuthManager.ErrorCode.OK) {
						| 		response.sendRedirect("index.jsp");
						| 	}
						| 	authManager.closeConnection();
						| %>
					| 
					| <% } %>