| <!--
| 	featured.jsp
| 	FESTIVAL Aviation
| 	
| 	This page displays a selection of promo texts or,
| 	if parameter "id" is specified, a certain promo text
| 	
| 	@author Jonas Zadach (j.zadach@ostfalia.de)
| 	@version 1.0
| -->
| 
| <%@ page contentType="text/html;charset=UTF-8" language="java" %>
| <%@ page import="ml.festival.aviation.*" %>
| <%@ page import="java.sql.ResultSet" %>
| 
| <%
| 	// Create result set references, we need them later
| 	ResultSet location = null;
| 	ResultSet category = null;
| 
| 	// This thing gets our promo texts from the database
| 	PromoManager promoManager = new PromoManager();
| 
| 	// Only attempt to load promo texts if we have a usable "id" parameter
| 	if (request.getParameter("id") != null && !request.getParameter("id").isEmpty()) {
| 		// Get the location with the specified id
| 		location = promoManager.getLocationForId(request.getParameter("id"));
| 
| 		// The location exists, reset selection index and load
| 		// associated category
| 		if (location != null && location.next()) {
| 			category = promoManager.getCategoryForId(location.getString("categoryId"));
| 
| 			location.beforeFirst();
| 		}
| 	}
| %>
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		| 
		| <%
		| 	// This is shown if we have a usable parameter "id"
		| 	if (location != null) {
		| 		// If the result set is not empty, we cut the title of the location before the comma
		| 		// Else we show that there was an error
		| %>
		title <%= location.next() ? location.getString("location").split(",")[0] : "Fehler" %> – FESTIVAL Aviation
		| 
		| <%
		| 	} else {
		| 		// We don't have a usable parameter "id"
		| %>
		title Unsere Empfehlungen – FESTIVAL Aviation
		| 
		| <%
		| 	}
		| %>
		
		link(rel="stylesheet", href="css/aviation.css")
		link(rel="stylesheet", href="css/featured.built.css")
	body
		include _nav

		| 
		| <%
		| 	// At this point, we *might* have valid data
		| 	if (location != null) {
		| 		// Reset location's selection index
		| 		location.beforeFirst();
		| 
		| 		// Check if we have valid data
		| 		if (location.next() && category.next()) {
		| %>
		section.featured-item
			.item-header(style!="background-image: url(<%= location.getString(\"headerImage\") %>)")
			.section-content
				h4.eyebrow <%= category.getString("title") %>
				h2.headline <%= location.getString("location") %>
				| 
				| <%= location.getString("content") %>

		| 
		| <%
		| 		} else if (request.getParameter("id") != null && !request.getParameter("id").isEmpty()) {
		| 			// We have a parameter "id", but we didn't find any location
		| %>
		
		section.featured-item
			.section-content
				.item-header
				h2.headline Hier funktioniert etwas nicht...
				p.error Der Server kann die angebenenen Parameter nicht interpretieren. Bitte überprüfe, ob du einem gültigen Link gefolgt bist und versuche es erneut.
		| 
		| <%
		| 		}
		| 	} else {
		| 		// We don't have any paramter, so just display any location we have in a random order
		| %>
		section
			.section-content
				h2.headline Unsere Empfehlungen
				p.body Brauchst du eine Inspiration, wo du deinen nächsten Urlaub verbringen willst? Jede Woche stellen wir neue Reiseziele in den Kategorien "Sonne &amp; Strand", "Stadt &amp; Leben" und "Topen &amp; Abenteuer" vor, inklusive besondere Highlights und was man dort unternehmen kann. Sieh dir einfach unsere Empfehlungen an und entscheide dich, was du in deinem nächsten Urlaub machen möchtest.

		| 
		| <%
		| 		// Get all categories and iterate through them
		| 		ResultSet categories = promoManager.getPromoCategories();
		| 		while (categories.next()) {
		| %>
		
		section.no-padding
			.section-content
				h4.eyebrow <%= categories.getString("title") %>
		
		section.promo-articles
			.section-content
				| 
				| <%
				| 	// Get all locations for this category and iterate through them
				| 	ResultSet locations = promoManager.getLocationsForCategory(categories.getString("id"));
				| 	while (locations.next()) {
				| %>
				| 
				| 
				a(href!="featured.jsp?id=<%= locations.getString(\"id\") %>")
					article.promo-article
						.header.dark(style!="background-image: url(<%= locations.getString(\"headerImage\") %>)")
							p.header-heading <%= categories.getString("title") %>
							p.header-title <%= locations.getString("location") %>
				| 
				| <%
				| 	}
				| %>
		| 
		| <%
		| 		}
		| 	}
		| %>
		
		include _footer
| 
| <%
| 	// Always close your database connection, people!
| 	promoManager.closeConnection();
| %>