| <%@ page contentType="text/html;charset=UTF-8" language="java" %>
| <%@ page import="ml.festival.aviation.*" %>
| <%@ page import="java.sql.ResultSet" %>
| 
| <%
| 	ResultSet location = null;
| 	ResultSet category = null;
| 	PromoManager promoManager = new PromoManager();
| 
| 	if (request.getParameter("id") != null && !request.getParameter("id").isEmpty()) {
| 		location = promoManager.getLocationForId(request.getParameter("id"));
| 
| 		if (location != null && location.next()) {
| 			category = promoManager.getCategoryForId(location.getString("categoryId"));
| 
| 			location.beforeFirst();
| 		}
| 	}
| %>
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		| 
		| <% if (location != null) { %>
		title <%= location.next() ? location.getString("location").split(",")[0] : "Fehler" %> – FESTIVAL Aviation
		| 
		| <% } else { %>
		title Unsere Empfehlungen – FESTIVAL Aviation
		| 
		| <% } %>
		
		link(rel="stylesheet", href="css/aviation.css")
		link(rel="stylesheet", href="css/featured.built.css")
	body
		include _nav

		| 
		| <%
		| 	if (location != null) {
		| 		location.beforeFirst();
		| 		if (location.next() && category.next()) {
		| %>
		section.featured-item
			.item-header(style!="background-image: url(<%= location.getString(\"headerImage\") %>)")
			.section-content
				h4.eyebrow <%= category.getString("title") %>
				h2.headline <%= location.getString("location") %>
				| 
				| <%= location.getString("content") %>

		| 
		| <%
		| 		} else if (request.getParameter("id") != null && !request.getParameter("id").isEmpty()) {
		| %>
		
		section.featured-item
			.section-content
				.item-header
				h2.headline Hier funktioniert etwas nicht...
				p.error Der Server kann die angebenenen Parameter nicht interpretieren. Bitte überprüfe, ob du einem gültigen Link gefolgt bist und versuche es erneut.
		| 
		| <%
		| 		}
		| 	} else {
		| %>
		section
			.section-content
				h2.headline Unsere Empfehlungen
				p.body Kann hier mal jemand vernünftigen Text einfügen?

		| 
		| <%
		| 		ResultSet categories = promoManager.getPromoCategories();
		| 		while (categories.next()) {
		| %>
		
		section.no-padding
			.section-content
				h4.eyebrow <%= categories.getString("title") %>
		
		section.promo-articles
			.section-content
				| 
				| <%
				| 	ResultSet locations = promoManager.getLocationsForCategory(categories.getString("id"));
				| 	while (locations.next()) {
				| %>
				| 
				| 
				a(href!="featured.jsp?id=<%= locations.getString(\"id\") %>")
					.promo-article
						.header.dark(style!="background-image: url(<%= locations.getString(\"headerImage\") %>)")
							p.header-heading <%= categories.getString("title") %>
							p.header-title <%= locations.getString("location") %>
				| 
				| <%
				| 	}
				| %>
		| 
		| <%
		| 		}
		| 	}
		| %>
		
		include _footer
| 
| <%
| 	promoManager.closeConnection();
| %>