| <%@ page contentType="text/html;charset=UTF-8" language="java" %>
| <%@ page import="java.sql.*" %>
| <%@ page import="ml.festival.aviation.*" %>
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title FESTIVAL Aviation
		
		link(rel="stylesheet", href="css/aviation.css")
		link(rel="stylesheet", href="css/landing.built.css")
		link(rel="stylesheet", href="css/components/calendar.css")
	
		script(src="lib/spring-animatable.js")
		script(src="lib/scroll-retractor.js")
	body
		include _nav
		
		section.landing-hero
			.hero-content
				img.hero-logo(src="img/logo-light.svg")
				h2.hero-title Die günstigsten Flugreisen aller Zeiten
				h4.hero-subtitle Einfach nur das buchen, was du wirklich brauchst – das ist aviation.
				
				.hero-search-bar
					form(method="post", action="search.jsp")
						.input-wrapper(data-key="departure")
							.column-title
								img(src="img/icon-departure.svg")
								p Von (Ort oder Flughafen)
							input(type="text", id="depart", placeholder="Abreiseort eingeben", required)
							input.hidden(type="text", id="depart_iata", name="depart_iata")
							ul.suggestions
						.input-wrapper(data-key="arrival")
							.column-title
								img(src="img/icon-arrival.svg")
								p Nach (Ort oder Flughafen)
							input(type="text", placeholder="Ankunftsort eingeben", required)
							input.hidden(type="text", id="arrv_iata", name="arrv_iata")
							ul.suggestions
						.input-wrapper(data-key="date")
							.column-title
								img.icon(src="img/icon-date.svg", required)
								p Abflugdatum
							input(type="text", placeholder="Abflugdatum auswählen", required)
							input.hidden(type="date", id="depart_date", name="depart_date")
							div.calendar
						button.search-button Suchen
		section.promo-articles
			.section-content
				//- .promo-article(data-spring-animatable="promo_1")
				//- 	.header.dark(style="background-image: url(img/img.jpg)")
				//- 		p.header-heading Test Header
				//- 		p.header-title Test Title
				//- 		p.header-subtitle Example Subtitle
				
				| 
				| <%
				| 	PromoManager promoManager = new PromoManager();
				| 	ResultSet categories = promoManager.getPromoCategories();
				| 	int index = 0;
				| 	String[] locations = new String[3];
				| 	while (categories.next()) {
				| 		index++;
				| 		ResultSet location = promoManager.getLocationForCategory(categories.getString("id"));
				| 		
				| 		if (location.next()) {
				| 			locations[index - 1] = location.getString("id");
				| %>
				| 
				.promo-article(data-spring-animatable!="promo_<%= index %>")
					.header.dark(style!="background-image: url(<%= location.getString(\"headerImage\") %>)")
						p.header-heading Unsere Empfehlung
						p.header-title <%= categories.getString("title") %>
						p.header-subtitle <%= location.getString("location") %>
				| 
				| <%
				| 		}
				| 		location.beforeFirst();
				| 	}
				| 	categories.beforeFirst();
				| 	index = 0;
				| %>
						
		section.promo-text
			.section-content.row
				.column.column-12.medium-6
					h4.eyebrow Das FESTIVAL Prinzip
					h2.headline Flugreisen – so wie du sie brauchst
					p.body Flugreisen sind meist sehr teuer. Das liegt vor allem daran, dass oft Dienste im Preis enthalten sind, die vielleicht gar nicht benötigt werden. Dein Flug geht nur von Hamburg nach Berlin und du hast bereits gut gefrühstückt? Warum solltest du extra für Essen bezahlen, wenn du es doch sowieso nicht essen wirst?<br><br>Genau das will aviation ändern. Du buchst einfach nur deinen Platz im Flugzeug, und das drückt den Preis. Und wenn du einen zusätzlichen Dienst benötigst, buchst du ihn einfach dazu. Besser kann es gar nicht sein.
				
				.column.column-12.medium-5.medium-offset-1
					p.body Test
		
		section.promo-text
			.section-content.row
				.column.column-12.medium-5
					p.body Test
				.column.column-12.medium-6.medium-offset-1
					h4.eyebrow Gestalte deine Flugreise
					h2.headline Ein Platz – viele Möglichkeiten
					p.body Wenn du eine Flugreise über aviation buchst, bekommst du grundsätzlich die Erlaubnis, das Flugzeug betreten zu dürfen. Im Grundpreis enthalten ist eine Beteiligung an den Flugkosten, wie etwa Treibstoff oder Parkgebühren. Das ist in etwa vergleichbar mit Car Sharing, wo sich die Passagiere auch an den Fahrtkosten beteiligen. Willst du zum Beispiel Gepäck mitnehmen, kostet dies nur eine geringe Gebühr statt einer festen Pauschale, die bereits im Ticketpreis enthalten ist. So können wir Flugreisen um bis zu 50% günstiger anbieten als die etablierte Konkurrenz.
					
		section.promo-text
			.section-content.row
				.column.column-12.medium-6
					h4.eyebrow Immer für dich da
					h2.headline Nicht zufrieden? Dann sag's uns!
					p.body Sollte mal etwas nicht zu deiner Zufriedenheit sein, dann freuen wir uns, von dir zu hören! Nimm einfach Kontakt mit uns auf und wir helfen dir, dein Problem zu lösen. Außerdem arbeiten wir mit immer mehr Fluggesellschaften zusammen, um noch günstigere Reisen anbieten zu können. Damit kannst du dich bald auf eine noch größere Auswahl der bisher günstigsten Flüge freuen!
				
				.column.column-12.medium-5.medium-offset-1
					p.body Test
		
		include _footer
		
		| 
		| <%
		| 	while (categories.next()) {
		| 		index++;
		| 
		| 		ResultSet location = promoManager.getLocationForId(locations[index - 1]);
		|		ResultSet locationSet = promoManager.getLocationsForCategory(categories.getString("id"));
		| 
		| 		if (location.next()) {
		| %>
		| 
		.promo-article-details(data-spring-animatable-target!="promo_<%= index %>")
			.header.dark(style!="background-image: url(<%= location.getString(\"headerImage\") %>)")
				.close-button
				p.header-heading Unsere Empfehlung
				p.header-title <%= categories.getString("title") %>
				p.header-subtitle <%= location.getString("location") %>
			.content-scroll-wrapper
				.content
					| <%= location.getString("content") %>
					| 
					a(href!="featured.jsp?id=<%= location.getString(\"id\") %>") Weiterlesen &#x00BB;
					p Sehen Sie sich auch unsere weiteren Empfehlungen in der Kategorie "<%= categories.getString("title") %>" an:
					.promo-article-wrapper
						| <%
						| 	while (locationSet.next()) {
						| 		if (!locationSet.getString("id").equals(location.getString("id"))) {
						| %>
						a(href!="featured.jsp?id=<%= locationSet.getString(\"id\") %>")
							.promo-article
								.header.dark(style!="background-image: url(<%= locationSet.getString(\"headerImage\") %>)")
									p.header-heading <%= categories.getString("title") %>
									p.header-title <%= locationSet.getString("location") %>
						| 
						| <%
						| 		}
						| 	}
						| %>
		| 
		| <%
		| 		}
		| 	}
		| 	promoManager.closeConnection();
		| %>
		| 
	
		//- .promo-article-details(data-spring-animatable-target="promo_1")
		//- 	.header.dark(style="background-image: url(img/963_42158716822_afcc8b6c9e_z_630_320_nofilter.jpg)")
		//- 		.close-button
		//- 		p.header-heading Test Header
		//- 		p.header-title Test Title
		//- 		p.header-subtitle Example Subtitle
		//- 	.content-scroll-wrapper
		//- 		.content
		//- 			p content text
		
		.spring-background
		
		script(type="text/javascript", src="lib/calendar.js")
		script(type="text/javascript",src="js/landing.js")