| <%@ page contentType="text/html;charset=UTF-8" language="java" %>
| <%@ page import="ml.festival.aviation.AuthManager" %>
| <%@ page import="java.util.*" %>
| <%@ page import="java.nio.charset.StandardCharsets" %>
| <%@ page import="java.security.MessageDigest" %>
| <%
| 	Boolean invalidForm = false;
| 	Boolean userNotFound = false;
| 	Boolean incorrectPassword = false;
| 	AuthManager authManager = new AuthManager();
| 
| 	Cookie[] cookies = request.getCookies();
| 	for (int i=0; i<cookies.length; i++) {
| 		if (cookies[i].getName().equals("sid")) {
| 			if (authManager.validate(cookies[i].getValue())) {
| 				response.sendRedirect("dashboard.jsp");
| 				return;
| 			}
| 		}
| 	}
| 
| 	if (request.getParameter("email") != null &&
| 		request.getParameter("password") != null) {
| 		if (!request.getParameter("email").isEmpty() &&
| 			!request.getParameter("password").isEmpty()) {
| 			String email = request.getParameter("email");
| 			String hashedPassword = new String(Base64.getEncoder().encode(MessageDigest.getInstance("SHA-256").digest(request.getParameter("password").getBytes(StandardCharsets.UTF_8))));
| 
| 			if (authManager.login(email, hashedPassword) == AuthManager.ErrorCode.OK) {
| 				if (authManager.generateSession(email) == AuthManager.ErrorCode.OK) {
| 					Cookie sessionCookie = new Cookie("sid", authManager.getCurrentSessionId(email));
| 					sessionCookie.setMaxAge(7200);
| 					response.addCookie(sessionCookie);
| 
| 					response.sendRedirect("dashboard.jsp");
| 				}
| 			} else {
| 				incorrectPassword = true;
| 			}
| 		} else {
| 			invalidForm = true;
| 		}
| 	}
|
| 	authManager.closeConnection();
| 
| %>
| 

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Anmelden – FESTIVAL Aviation
		
		link(rel="stylesheet",href="css/aviation.css")
		link(rel="stylesheet",href="css/login.built.css")
	body
		//- include _nav
		.content-wrapper
			section.logo-container
				.section-content.row.centered
					.column.column-12.medium-4
						img(src="img/logo-dark.svg")
			
			| 
			| <% if (invalidForm || incorrectPassword || userNotFound) { %>
			
			section.form-error
				.section-content.row.centered
					.column.column-12.medium-4
						| 
						| <% if (invalidForm) { %>
					
						p Bitte fülle das komplette Formular aus, um dich zu anzumelden.
						| 
						| <% } else if (incorrectPassword) { %>
					
						p Das von dir angegebene Passwort ist nicht korrekt. Bitte versuche es erneut.
						| 
						| <% } else if (userNotFound) { %>
					
						p Das von dir angegebene Konto wurde nicht gefunden.
						| 
						| <% } %>
						| 
			| 
			| <% } %>
			| 
			section.login
				.section-content.row.centered
					.column.column-12.medium-4
						.login-container
							form.signin-form(method="POST",action="login.jsp",novalidate)
								.form-textbox-wrapper
									input.form-textbox(type="email",name="email",id="email",placeholder=" ")
									span.form-textbox-placeholder E-Mail-Adresse
								.form-textbox-wrapper
									input.form-textbox(type="password",name="password",id="password",placeholder=" ")
									span.form-textbox-placeholder Passwort
								button.call Anmelden
							a(href="register.jsp") Noch nicht registriert?