doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Stornierungen – FESTIVAL Aviation Support
		
		link(rel="stylesheet", href="css/aviation.css")
		link(rel="stylesheet", href="css/support-center.built.css")
	body
		include _nav

		include _sc-modal
		
		.content-wrapper
			section.support
				.section-content.row.reversed
					.column.column-3
						ul.sc-menu
							li.menu-item.heading Support
							a.menu-item(href="sc-index.jsp")
								li FAQ
							a.menu-item(href="sc-contact.jsp")
								li Kontakt
							a.menu-item.selected(href="sc-cancellations.html")
								li Stornierungen
							a.menu-item(href="sc-complaints.html")
								li Beschwerden
							a.menu-item(href="sc-rights.html")
								li Fluggastrechte
						
						//- article(class="ad")
						//- 	img(src="https://www.visitfinland.com/app/uploads/Header_Helsinki_aerial-1600x900.jpg")
						//- 	div(class="content")
						//- 		h4 Entdecke Helsinki
						//- 		p Schon ab 159€ pro Person
						//- 		button Jetzt Buchen

					.column.column-8.offset-1
						h2 Stornierungen
						article(class="flag warning")
							div(class="header")
								div(class="icon")
									span
										span(class="ai ai-warning")
								span(class="title") Hinweis
							div(class="content")
								p Wenn du auf den Account, mit dem das Ticket gekauft wurde, Zugriff hast, storniere dein Ticket bitte im #[a(href="#") Dashboard]. Nur wenn du dein Ticket ohne Account erworben hast oder keinen Zugriff auf den Account hast, solltest du dein Ticket hier stornieren.
						
						form(action="#", id="cancellationForm")
							label(for="holder") Name des Passagiers
							input(type="text", name="holder", id="holder")
							label(for="ticketId") Ticket-ID
							input(type="text", name="ticketId", id="ticketId")
							a(class="help modal-trigger", data-modal-type="question", data-modal-title="Was ist die Ticket-ID?", data-modal-text="Die Ticket-ID ist eine für jedes Ticket einzigartige Nummer, die es ermöglicht ein Ticket eindeutig zu identifizieren. Sie befindet sich auf der Rechnung und am unteren Rand des Tickets.") Was ist das?
							label(for="verification") Storno-Verifizierungs-ID
							input(type="text", name="verification", id="verification")
							a(class="help modal-trigger", data-modal-type="question", data-modal-title="Was ist die Storno-Verifizierungs-ID?", data-modal-text="Bei der Storno-Verifizierungs-ID handelt es sich um eine Nummer die als Sicherheit benötigt wird, um die Stornierung durchzuführen. Die Storno-Verifizierungs-ID findest du in deiner Rechnung.") Was ist das?
							label(for="accountEmail") E-Mail-Adresse
							p(class="description") Gib hier die E-Mail-Adresse des Accounts an, der die Gutschrift bekommen soll.
							input(type="email", name="accountEmail", id="accountEmail")
							label(for="message") Grund der Stornierung (optional)
							textarea(name="message", id="message", lines="12")
							button(class="modal-trigger", data-modal-type="error", data-modal-title="Ticket wirklich stornieren?", data-modal-text="Wenn alle Eingaben korrekt sind, wird das Ticket unwiderruflich storniert und unbrauchbar. Die Stornierung kann nicht rückgängig gemacht werden.", data-modal-primary="Ticket stornieren", data-modal-primary-action="submit") Absenden
		include _footer
		
	script(src="js/support-center.js")
	script(src="js/modal.js")
	script(src="js/icons.js")
