doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Kontakt – FESTIVAL Aviation Support
		
		link(rel="stylesheet", href="css/aviation.css")
		link(rel="stylesheet", href="css/support-center.built.css")
	body
		include _nav

		include _sc-modal
		
		.content-wrapper
			section.support
				.section-content.row.reversed
					.column.column-3
						ul.sc-menu
							li.menu-item.heading Support
							a.menu-item(href="sc-index.html")
								li FAQ
							a.menu-item.selected(href="sc-contact.html")
								li Kontakt
							a.menu-item(href="sc-cancellations.html")
								li Stornierungen
							a.menu-item(href="sc-complaints.html")
								li Beschwerden
							a.menu-item(href="sc-rights.html")
								li Fluggastrechte

					.column.column-8.offset-1
						h2 Kontakt
						form(action="#")
							label(for="firstName") Vorname
							input(type="text", name="firstName", id="firstName")
							label(for="lastName") Nachname
							input(type="text", name="lastName", id="lastName")
							label(for="email") E-Mail-Adresse
							input(type="email", name="email", id="email")
							a(class="help modal-trigger", data-modal-type="question", data-modal-title="Warum muss ich eine E-Mail-Adresse angeben?", data-modal-text="Ohne Angabe einer E-Mail-Adresse können wir nicht auf dein Anliegen antworten. Aber keine Sorge, alle deine Daten werden vertraulich behandelt und nur bis zur Aufklärung deiner Anfrage aufbewahrt.") Ist das notwendig?
							label(for="message") Ihre Nachricht
							textarea(name="message", id="message", lines="12")
							button(class="modal-trigger", data-modal-type="warning", data-modal-title="Passt das so?", data-modal-text="Du kannst deine Nachricht nach dem Abschicken nicht mehr bearbeiten. Bist du sicher, dass du deine Nachricht so abschicken willst?", data-modal-primary="Das passt so!", data-modal-primary-action="submit", data-modal-secondary="Ne noch nicht") Absenden
		include _footer
		
	script(src="js/support-center.js")
	script(src="js/modal.js")
	script(src="js/icons.js")
