doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Stornierungen – FESTIVAL Aviation Support
		
		link(rel="stylesheet", href="css/aviation.css")
		link(rel="stylesheet", href="css/support-center.built.css")
	body
		include _nav
		
		.content-wrapper
			section.support
				.section-content.row.reversed
					.column.column-3
						ul.sc-menu
							li.menu-item.heading Support
							a.menu-item(href="sc-index.html")
								li FAQ
							a.menu-item(href="sc-contact.html")
								li Kontakt
							a.menu-item.selected(href="sc-cancellations.html")
								li Stornierungen
							a.menu-item(href="sc-complaints.html")
								li Beschwerden
							a.menu-item(href="sc-rights.html")
								li Fluggastrechte

					.column.column-8.offset-1
						h2 Stornierungen
						p(style="margin-bottom: 1em") Wenn Sie ein Ticket ohne Account erworben haben oder keinen Zugriff auf den Account haben, so können Sie dieses hier stornieren. Beachten Sie bitte, dass Sie jedes Ticket einzeln stornieren müssen.
						form(action="#")
							label(for="holder") Name des Passagiers
							input(type="text", name="holder", id="holder")
							label(for="ticketId") Ticket-ID
							input(type="text", name="ticketId", id="ticketId")
							label(for="verification") Storno-Verifizierungs-ID
							input(type="text", name="verification", id="verification")
							label(for="accountEmail") E-Mail-Adresse
							input(type="email", name="accountEmail", id="accountEmail")
							label(for="message") Grund der Stornierung (optional)
							textarea(name="message", id="message", lines="12")
							button Absenden
		include _footer
		
	script(src="js/support-center.js")
