| <%@ page contentType="text/html;charset=UTF-8" %>
| <%@ page import="java.sql.ResultSet" %>
| <%@ page import="javax.naming.InitialContext" %>
| <%@ page import="javax.naming.Context" %>
| <%@ page import="javax.sql.DataSource" %>
| <%@ page import="java.sql.Connection" %>
| <%@ page import="java.sql.Statement" %>
| 
| 
| <%
| 	InitialContext initialContext;
| 	Context environmentContext;
| 	DataSource dataSource;
| 	Connection conn = null;
| 
| 	ResultSet questions = null;
| 
| 	try {
| 		initialContext = new InitialContext();
| 		environmentContext = (Context)initialContext.lookup("java:/comp/env");
| 		dataSource = (DataSource)environmentContext.lookup("jdbc/aviation");
| 		conn = dataSource.getConnection();
| 		Statement statement = conn.createStatement();
| 		questions = statement.executeQuery("SELECT * FROM questions ORDER BY questionText ASC");
| 	} catch (Exception e) {
| 		e.printStackTrace();
| 	}
| %>

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title FAQ – FESTIVAL Aviation Support
		
		link(rel="stylesheet", href="css/aviation.css")
		link(rel="stylesheet", href="css/support-center.built.css")
	body
		include _nav
		
		include _sc-modal
		
		.content-wrapper
			section.support
				.section-content.row.reversed
					.column.column-3
										
						| <%
						|   if (questions != null) {
						| %>
					
						ul.sc-menu.contents
							li.menu-item.heading FAQ #[span.expand-button]
							| 
							| <%
							|	while (questions.next()) {
							| %>
							| 
							
							a.menu-item(data-q-link!="<%= questions.getString(\"linkId\") %>")
								li <%= questions.getString("questionText") %>
							| 
							| <%
							| 	}
							| 	questions.beforeFirst();
							| %>
						| 
						| <%
						|	}
						| %>

						ul.sc-menu
							li.menu-item.heading Support
							a.menu-item.selected(href="sc-index.jsp")
								li FAQ
							a.menu-item(href="sc-contact.jsp")
								li Kontakt
							a.menu-item(href="sc-cancellations.html")
								li Stornierungen
							a.menu-item(href="sc-complaints.html")
								li Beschwerden
							a.menu-item(href="sc-rights.html")
								li Fluggastrechte

					.column.column-8.offset-1
						h2 FAQ
						
						| 
						| <%
						| 	if (questions != null) {
						|		while (questions.next()) {
						| %>
						
						div.faq-card(data-q!="<%= questions.getString(\"linkId\") %>")
							p.faq-card-header <%= questions.getString("questionText") %>
								span.expand-button
							div.faq-card-content <%= questions.getString("answerText") %>
						
						| 
						| <%
						| 		}
						| 	} else {
						| %>

						article(class="flag error")
							div(class="header")
								div(class="icon")
									span
										span(class="ai ai-error")
								span(class="title") Hier funktioniert etwas nicht
							div(class="content")
								p Es scheint als hätten wir Probleme im Hintergrund, sodass aktuell keine Fragen geladen werden können. Bitte versuch es später noch einmal.

						| 
						| <%
						| 	}
						| %>
		
						article(class="flag question")
							div(class="header")
								div(class="icon")
									span
										span(class="ai ai-question")
								span(class="title") Die richtige Antwort war nicht dabei?
							div(class="content")
								p Stell uns deine Frage direkt: #[a(href="sc-contact.html") Kontakt]
						
		include _footer
		
	script(src="js/support-center.js")
	script(src="js/modal.js")
	script(src="js/icons.js")
| 
| <%
| 	if (conn != null)
| 	    conn.close();
| %>
