doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Support Center – FESTIVAL Aviation
		
		link(rel="stylesheet", href="css/support-center.built.css")
	body
		div.content
			h1 Supportcenter
			p.subtitle Wie können wir dir helfen?
			div.cards
				article.card(data-message="Fackka")
					a FAQ
				article.card(data-message="Kontaggt")
					a Kontakt
				article.card(data-message="Schtorno")
					a Stornierung
				article.card(data-message="Nix Rechte")
					a Fluggastrechte
		div.filler.show.r
			p.filler-message
	script(src="js/support-center.js")
