doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	
		title Benutzer – FESTIVAL Aviation
		
		link(rel="stylesheet",href="css/aviation.css")
		link(rel="stylesheet",href="css/user-cp.built.css")
	body
		include _nav
		
		.content-wrapper
			section.user-cp
				.section-content.row
					.column.column-3
						ul.user-cp-menu
							li.heading Allgemein
							li.selected Profil
							li Rechnungsadresse
							li Beschwerden
						ul.user-cp-menu
							li.heading Buchungen
							li Vorherige Buchungen
							li Tickets
					.column.column-8.offset-1
						p Test